* {
  font-family: "Raleway", sans-serif;
}

/* Default Text styling */
p {
  font-size: 26px;
  letter-spacing: 4px;
}
h2 {
  font-size: 22px;
  margin: 0 auto;
  padding: 45px;
}
/* Page Styling */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
.nav-links {
  display: flex;
  align-items: center;
  width: 40%;
  margin-left: 222px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #000000;
  letter-spacing: 1.4px;
  font-size: 16px;
  padding: 0 15px;
}
